body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: white; */
  background-color: #e9ecef;
  /* background-image: url("http://www.wallpaperdisco.com/images/pattern-tiles/microphone-wallpaper-disco-tom-wahlin@2x.png");
  background-size: 15%; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .container {
  background-color: white;
  opacity: .95;
} */

a {
  color: white;
}

a.blue {
  color: blue
}

.asterisk{
  color: rgb(161, 1, 1);
}

.formJumbo {
  width: 75%;
  margin: auto;
  /* background-color: red; */
  padding: 64px;
}

.jumbotron {
  background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

.navbar{
  margin-bottom: 50px;
  background-color: rgb(119, 101, 148);
}

#searchbtn {
  background-color: rgb(233, 233, 233);
}