/* NOTICE!!! */

/* BE AWARE OF CASCADING!!! */

/* MOST GENERAL STUFF GOES UP TOP!!! */


body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: white; */
  background-color: #e9ecef;
  /* background-image: url("http://www.wallpaperdisco.com/images/pattern-tiles/microphone-wallpaper-disco-tom-wahlin@2x.png");
  background-size: 15%; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .container {
  background-color: white;
  opacity: .95;
} */

a {
  color: white;
}

@media (hover: hover) {
  a:hover {
    text-decoration:none;
    color: white;
  }
}

a.blue {
  color: blue
}

.asterisk{
  color: rgb(161, 1, 1);
}

.formJumbo {
  width: 75%;
  margin: auto;
  /* background-color: red; */
  padding: 64px;
}



.jumbotron {
  background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

.navbar{
  margin-bottom: 50px;
  background-color: rgb(119, 101, 148);
}

#searchbtn {
  background-color: rgb(233, 233, 233);
}

/* FOR PAGE: LOGIN */
/* FOR PAGE: LOGIN */

.loginJumbo {
  width: 400px;
  margin: auto;
  /* background-color: red; */
  padding: 0px 64px 54px 64px;
}

#loginButton {
  width: 100%;
}

#loginTitle {
  margin: auto;
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
}

#loginBackground {
  /* width: 1000px; */
  height: 700px;
  padding-top: 100px;
  background-image: url("https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/2018/europeslostf.jpg");
  background-size: cover;
}

/* FOR PAGE: SIGNUP */
/* FOR PAGE: SIGNUP */

#signupJumbo {
  width: 600px;
  margin: auto;
  /* background-color: red; */
  padding: 0px 64px 54px 64px;
}

#signupTitle {
  margin: auto;
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
}

/* FOR PAGE: ADDMIC */
/* FOR PAGE: ADDMIC */

#addMicJumbo {
  width: 700px;
  margin: auto;
  padding: 0px 64px 54px 64px;
}

#addMicTitle {
  margin: auto;
  padding-top: 60px;
  padding-bottom: 50px;
  text-align: center;
}

/* FOR PAGE: DETAIL */
/* FOR PAGE: DETAIL */

.micDetailIMG{
  width: 100%;
}

.detailContainer {
  background-color: lightpink;
  padding: 25px;
}

.detailJumbo {
  /* margin: auto; */
  /* background-color: red; */
  padding: 32px;
  margin-top: 32px;
}

.detailThickJumbo {
  /* margin: auto; */
  /* background-color: red; */
  padding: 64px;
}

.detailButton {
  background-color: rgb(156, 118, 206);
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (hover: hover) {
  .detailButton:hover {
    background-color: rgb(194, 171, 224);
  }
}


/* FOR PAGE: HOME */
/* FOR PAGE: HOME */

.banner {
  text-align: center;
  font-size: 711px;
}

#title{
  margin:auto;
  margin-bottom: 20px;
}

#maincol{
  /* background-color: rgb(248, 248, 248); */
}

.mainJumbo {
  /* margin: auto; */
  /* background-color: red; */
  padding: 32px;
}

.daySelector {
  padding:10px;
}

@media (hover: hover) {
  .daySelector:hover {
    background-color: rgb(194, 171, 224);
    cursor: pointer;
  }
}


/* FOR COMPONENT: EVENT CARD */
/* FOR COMPONENT: EVENT CARD */

a {
  color: white;
  text-decoration: none;
}

.ECardIMG {
  height: 150px;
  width: 150px;
}

.ECardCard {
  /* width: 70%; */
  width: 600px;
  margin: 10px;
}